footer {
  overflow: hidden;
  max-width: 100%;
  display: block;
  background-color: #3d3d3d;
  width: 100vw;
  height: auto;
}

footer h5 {
  color: #fbf7f7;
  font-size: 0.9em;
  font-variation-settings: "wght" 200;
  text-align: start;
}

footer h3 {
  color: #fbf7f7;
  text-align: start;
  font-size: 1.2em;
  font-variation-settings: "wght" 400;
  margin-bottom: 0.8em;
}

footer a {
  color: #fbf7f7;
  font-variation-settings: "wght" 300;
  font-size: 0.9em;
}

footer a:hover {
  color: #b53a20;
  font-weight: lighter;
  font-size: 0.9em;
}

footer a::selection {
  color: #b53a20;
  font-weight: lighter;
  font-size: 0.9em;
}

.developed {
  color: #fbf7f7;
  font-variation-settings: "wght" 300;
  font-size: 0.9em;
}

.social-media {
  background-color: #5d5c5c;
  width: 100vw;
}

@media (max-width: 991px) {
  footer {
    display: none;
  }
}
